<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>jsp20220405</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>initParamName1</param-name>
  	<param-value>initParamValue1</param-value>
  </context-param>
  
  <session-config>
  	<!-- session 유지시간 기본값: 30분 -->
  	<!-- 마지막 접근 후 유지시간 지나면 session 삭제됨 -->
  	<!-- 단위: 분(minutes) -->
  	<session-timeout>30</session-timeout>
  </session-config>
  
  <!-- 서블릿 설정 -->
  <servlet>
  	<servlet-name>S3Servlet01</servlet-name>
  	<servlet-class>chap17.servlet3.S3Servlet01</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>S3Servlet01</servlet-name>
  	<url-pattern>/s3/servlet01</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>S3Servlet02</servlet-name>
  	<servlet-class>chap17.servlet3.S3Servlet02</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>S3Servlet02</servlet-name>
  	<url-pattern>/s3/servlet02</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>S3Servlet03</servlet-name>
  	<servlet-class>chap17.servlet3.S3Servlet03</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>S3Servlet03</servlet-name>
  	<url-pattern>/s3/servlet03</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>S3Servlet04</servlet-name>
  	<servlet-class>chap17.servlet3.S3Servlet04</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>S3Servlet04</servlet-name>
	<url-pattern>/s3/servlet04</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>S3Servlet05</servlet-name>
  	<servlet-class>chap17.servlet3.S3Servlet05</servlet-class>
  	<init-param>
  		<param-name>param1</param-name>
  		<param-value>value1</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbUrl</param-name>
  		<param-value>awsMariaDbAddress</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>S3Servlet05</servlet-name>
  	<url-pattern>/s3/servlet05</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>S3Servlet06</servlet-name>
  	<servlet-class>chap17.servlet3.S3Servlet06</servlet-class>
  	<init-param>
  		<param-name>viewName</param-name>
  		<param-value>/WEB-INF/view/chap17/ex06.jsp</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>S3Servlet06</servlet-name>
  	<url-pattern>/s3/servlet06</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>S4Servlet01</servlet-name>
  	<servlet-class>chap17.servlet4.S4Servlet01</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>S4Servlet01</servlet-name>
  	<!-- <url-pattern>/s4/servlet01</url-pattern> -->
  	<!-- <url-pattern>/s4/url1/url2/*</url-pattern> -->
  	<!-- <url-pattern>*.do</url-pattern> -->
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>S4Servlet02</servlet-name>
  	<servlet-class>chap17.servlet4.S4Servlet02</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>S4Servlet02</servlet-name>
  	<url-pattern>/s4/s4servlet/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>S4Servlet03</servlet-name>
  	<servlet-class>chap17.servlet4.S4Servlet03</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>S4Servlet03</servlet-name>
	<url-pattern>*.action</url-pattern>  	
  </servlet-mapping>

  <!-- filters -->
  <filter>
  	<filter-name>filter01</filter-name>
  	<filter-class>chap19.Filter01</filter-class>
  </filter>  
  <filter-mapping>
  	<filter-name>filter01</filter-name>
  	<url-pattern>/s3/servlet06</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>filter02</filter-name>
  	<filter-class>chap19.Filter02</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filter02</filter-name>
  	<url-pattern>/s3/servlet06</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>filter03</filter-name>
  	<filter-class>chap19.Filter03</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filter03</filter-name>
	<url-pattern>/s3/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>filter04</filter-name>
  	<filter-class>chap19.Filter04</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>filter04</filter-name>
  	<url-pattern>/s5/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>filter05</filter-name>
  	<filter-class>chap19.Filter05</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filter05</filter-name>
  	<url-pattern>/s5/memberOnly</url-pattern>
  </filter-mapping>
</web-app>



























